.feynman__subtitle {
    width: fit-content;
    margin: 0 auto;
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-align: center;
    z-index: 3;
    position: relative;
  }